<div class="" id="content">

      <!-- <button class="btn btn-warning" [routerLink]="['editCourseFee/']">Edit Course Fees</button> -->
      <button class="btn btn-warning "routerLink="/dashboard/fee/addStaticCourse">Add New Module</button>

    <div class="float-end"><button class="btn btn-info" [routerLink]="['add-fee/']">Create Fee</button></div><br><br>
    <router-outlet></router-outlet>


<div class="p-4" id="content">

  <div class="table-container">
    <table class="table table-bordered table-hover">
          <thead>
            <tr class="text-center text-justify">
              <th class="bg-primary text-light">Index</th>
              <th class="bg-primary text-light">Module</th>
              <th class="bg-primary text-light">Price</th>
              <!-- <th class="bg-primary text-light">Action</th> -->
            </tr>
          </thead>
          <tbody>
              @for (module of modulesList; let i = $index; track $index) {

                  <tr   >
                      <td>{{i+1}}</td>

                      <td>{{module.moduleName}}</td>
                      <td>{{ module.price | currency:'INR' }}</td>
                  </tr>
              }
          </tbody>
      </table>
  </div>
</div>


</div>
