
<!-- GRID -->

<div class="container" style="padding-left: 2%; padding-right: 2%;">
    <div class="row">
      <div class="col-sm-4 mb-3">
        <div class="card" style="padding: 15px">
          <img class="img-fluid card-img-top img-thumbnail img-zoom" src="1.jpg" alt="">
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <div class="card" style="padding: 15px">
          <img class="img-fluid card-img-top img-thumbnail img-zoom" src="2.jpg" alt="">
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <div class="card" style="padding: 15px">
          <img class="img-fluid card-img-top img-thumbnail img-zoom" src="3.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 mb-3">
        <div class="card" style="padding: 15px">
          <img class="img-fluid card-img-top img-thumbnail img-zoom" src="4.jpg" alt="">
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <div class="card" style="padding: 15px">
          <img class="img-fluid card-img-top img-thumbnail img-zoom" src="5.jpg" alt="">
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <div class="card" style="padding: 15px">
          <img class="img-fluid card-img-top img-thumbnail img-zoom" src="6.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 mb-3">
        <div class="card" style="padding: 15px">
          <img class="img-fluid card-img-top img-thumbnail img-zoom" src="7.jpg" alt="">
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <div class="card" style="padding: 15px">
          <img class="img-fluid card-img-top img-thumbnail img-zoom" src="8.jpg" alt="">
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <div class="card" style="padding: 15px">
          <img class="img-fluid card-img-top img-thumbnail img-zoom" src="9.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  
  