<h2 class="my-3">Placements</h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <button class="btn btn-primary w-100 m-2" data-bs-toggle="modal" data-bs-target="#addRecordModal">Add Record</button>
        </li>
        <li class="nav-item mx-2">
          <button class="btn btn-outline-success mt-2 ms-2" (click)="export()"> <img src="assets/excel-icon.png" alt="">
            Download Report
          </button>
        </li>
        </ul>
      <div class="d-flex">
        <input class="form-control me-2" type="text" name="" placeholder="Search" aria-label="Search"  [(ngModel)]="searchText" >
        <button class="btn btn-outline-success searchButton" (click)="searchRecords()">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</nav>

<div class="modal fade" id="addRecordModal" tabindex="-1" aria-labelledby="addRecordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRecordModalLabel">Add New Record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="placeForm" (ngSubmit)="uploadFileToS3()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" placeholder="Name" formControlName="Name" class="form-control" [ngClass]="{'is-invalid': submitted && formControls['Name'].errors}" />
            <div *ngIf="submitted && formControls['Name'].errors" class="invalid-feedback">
              <div *ngIf="formControls['Name'].errors['required']">Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Company</label>
            <input type="text" placeholder="Company Name" formControlName="company" class="form-control" [ngClass]="{'is-invalid': submitted && formControls['company'].errors}" />
            <div *ngIf="submitted && formControls['company'].errors" class="invalid-feedback">
              <div *ngIf="formControls['company'].errors['required']">Company is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Package</label>
            <input type="number" placeholder="Package in LPA" formControlName="package" class="form-control" [ngClass]="{'is-invalid': submitted && formControls['package'].errors}" />
            <div *ngIf="submitted && formControls['package'].errors" class="invalid-feedback">
              <div *ngIf="formControls['package'].errors['required']">Package is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Photo</label>
            <input
              type="file"
              class="form-control"
              formControlName="file"
              (change)="processFile($event)"
              accept="image/*"
              [ngClass]="{'is-invalid': submitted && formControls['file'].errors}"
            />
            <div *ngIf="submitted && formControls['file'].errors" class="invalid-feedback">
              <div *ngIf="formControls['file'].errors['required']">Photo is required</div>
            </div>
            <div *ngIf="previewUrl" class="mt-2">
              <img [src]="previewUrl" class="img-thumbnail" style="max-height: 200px;" />
            </div>
          </div>


          <div class="form-group text-center">
            <button [disabled]="isLoading" type="submit" class="btn btn-primary">
              <ng-container *ngIf="!isLoading"> Add </ng-container>
              <div *ngIf="isLoading" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="page-content pe-5 pt-2" id="content">
  <div class="add-file-container">
    <div class="pt-4">
      <table class="table table-striped" id="excel-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Company</th>
            <th scope="col">Package</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of placeRecords | paginate: { itemsPerPage: 10, currentPage: p }; index as i;">
            <th scope="row">{{(p - 1) * 10 + i + 1}}</th>
            <td>{{item.Name}}</td>
            <td>{{item.Company}}</td>
            <td>{{item.Package}} LPA</td>
            <td class="px-4">
              <button type="button" class="btn btn-primary" (click)="openEditModal(item)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="openModal(template)">Delete</button>
              <ng-template #template>
                <div class="modal-body text-center">
                  <p>Are you sure you want to delete this record?</p>
                  <button type="button" class="btn btn-danger" (click)="onDelete(item._id)">Yes</button>


                  <button type="button" class="btn btn-secondary" (click)="cancel()">No</button>
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Review</h5>
        <button type="button" class="close" (click)="closeEditModal()">&times;</button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updatePlace()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" [(ngModel)]="selectedRecord.Name" name="Name" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Company</label>
            <input type="text" [(ngModel)]="selectedRecord.Company" name="Company" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Package</label>
            <input type="text" [(ngModel)]="selectedRecord.Package" name="Package" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Image</label>
            <input
              type="file"
              name="File"
              class="form-control"
              (change)="processFile($event)"
              accept="image/*"
              required
            >
            <div *ngIf="previewUrl" class="mt-2">
              <img [src]="previewUrl" class="img-thumbnail" style="max-height: 200px;" />
            </div>
          <button type="submit" class="btn btn-primary" (click)="uploadFileToS3()">Save changes</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
