

#sidebar.active{
    margin-left: -17rem;
  }
  
  #content.active{
    width: 100%;
    margin-left: 0;
  }
  
  @media (max-width:767px){
    #content{
      width: 100%;
      margin: 0;
    }
  
    #content.active{
      margin-left: 0;
      width: 100%;
    }
  
    .horizontal_nav{
      margin: 0;
    }
  
  
    #sidebar.active{
      margin-left: 0;
    }
  }
  