<app-create-batch></app-create-batch>
<!-- <app-list-batch></app-list-batch> -->

<div>
  <div>
    @for(module of modules;track module){

  <div class="card bg-light h-100 p-4 text-dark text-center">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <!-- <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a> -->
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ module.moduleName }}</h5>
      <p class="card-text">{{ module.price | currency:'INR' }}</p>
    </div>
    <div class="mt-auto">
      <button (click)="viewModule(module._id!)" class="btn btn-primary">View</button>&nbsp;&nbsp;&nbsp;


    </div>

  </div>
}
    <!--End Card -->
</div>


