<nav class="navbar navbar-expand-lg navbar-light bg-white container-fluid">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img class="img-fluid" src="logo-removebg.png" alt="Logo" style="max-width: 100%; width: 200px; padding: 3%;" />
  </a>

  <!-- Navbar Toggler for Mobile View -->
  <button class="navbar-toggler" type="button" (click)="toggleNavigation()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible Navbar Content -->
  <div class="collapse navbar-collapse" [ngClass]="{'show': isNavExpanded}" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item m-2">
        <a class="nav-link active" routerLink="/auth/"><b>HOME</b></a>
      </li>

      <!-- Courses Dropdown -->
      <li class="nav-item m-2 dropdown" [ngClass]="{'show': isCoursesDropdownOpen}">
        <button class="nav-link dropdown-toggle" (click)="toggleCoursesDropdown($event)" aria-expanded="isCoursesDropdownOpen">
          <b class="text-dark">COURSES</b>
        </button>
        <ul class="dropdown-menu" [ngClass]="{'show': isCoursesDropdownOpen}">
          <li><a class="dropdown-item" routerLink="/auth/c">C</a></li>
          <li><a class="dropdown-item" routerLink="/auth/cpp">C++</a></li>
          <li><a class="dropdown-item" routerLink="/auth/java">JAVA</a></li>
          <li><a class="dropdown-item" routerLink="/auth/python">PYTHON</a></li>
        </ul>
      </li>

      <li class="nav-item m-2">
        <a class="nav-link active" routerLink="/auth/aboutUs"><b>ABOUT US</b></a>
      </li>
      <li class="nav-item m-2">
        <a class="nav-link active" routerLink="/auth/placement"><b>PLACEMENTS</b></a>
      </li>
      <li class="nav-item m-2">
        <a class="nav-link active" routerLink="/auth/contact"><b>ENQUIRY</b></a>
      </li>
      <li class="nav-item m-2">
        <a class="nav-link active" routerLink="/auth/alumni"><b>ALUMNI</b></a>
      </li>

      <!-- Cart (Visible only to students) -->
      <li class="nav-item m-2" *ngIf="getRole() === 'STUDENT'">
        <a class="nav-link active" routerLink="/dashboard/cart">
          <i class="fa-solid fa-cart-shopping fa-2x"></i>
        </a>
      </li>

      <!-- Register/Login buttons for non-logged-in users -->
      <li class="nav-item m-2" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/auth/register">
          <button class="btn btn-outline-dark"><b>Register</b></button>
        </a>
      </li>
      <li class="nav-item m-2" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/auth/login">
          <button class="btn btn-outline-dark"><b>Login</b></button>
        </a>
      </li>
    </ul>
  </div>
</nav>
