<div class="container rounded mt-4 mb-4 shadow">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img src="enquirypage1.jpeg" alt="Enquiry" class="img-fluid" style="max-height: 300px; margin-left: 20px;" />
      </div>
      <div class="col-md-8">
        <h2 class="text-center text-primary my-2">Submit Your Enquiry</h2>
        <p class="text-center text-success my-4">
          Let us help you with the best solutions tailored to your needs. Submit your enquiry today!
        </p>
  
  
       <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()" style="color: black;">
        <div class="form-group">
          <label for="fullName"><b>Name :</b></label>
          <input
            type="text"
            formControlName="fullName"
            class="form-control bg-light"
            id="fullName"
            placeholder="Enter Your Name"
            required
            (blur)="onBlur('fullName')"
            [ngClass]="{'is-invalid': formControl['fullName'].invalid && formControl['fullName'].touched}"
          />
          @if(formControl['fullName'].invalid && (formControl['fullName'].touched || submitted)){

              <div class="invalid-feedback" style="color:#dd2e2e">
                  @if (formControl['fullName'].errors?.['required']) {
                  Full Name is required
                }
                </div>
            }
          
          
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="phoneNumber"><b>Mobile no:</b></label>
            <input
              type="text"
              formControlName="phoneNumber"
              class="form-control bg-light"
              id="phoneNumber"
              placeholder="Enter Mobile No"
              required
              (blur)="onBlur('phoneNumber')"
              [ngClass]="{'is-invalid': formControl['phoneNumber'].invalid && formControl['phoneNumber'].touched}"
            />
            @if ((formControl['phoneNumber'].invalid && (formControl['phoneNumber'].touched || submitted))) {
            <div class="invalid-feedback" style="color: #dd2e2e;">
                @if (formControl['phoneNumber'].errors?.['required']) {
              Phone Number is required
            }
                @else if (formControl['phoneNumber'].errors?.['pattern']) {
                Invalid phone number. Must be 10 digits
            }
            </div>
        }
          </div>
          <div class="form-group col-md-6">
            <label for="email"><b>Email:</b></label>
            <input
              type="email"
              formControlName="email"
              class="form-control bg-light"
              id="email"
              placeholder="Email@gmail.com"
              required
              (blur)="onBlur('email')"
              [ngClass]="{ 'is-invalid': formControl['email'].invalid && formControl['email'].touched }"
            />
            @if (formControl['email'].invalid && formControl['email'].touched || submitted){

                <div class="invalid-feedback" style="color: #dd2e2e">
                    @if (formControl['email'].errors?.['required']) {
                        
                        Email is required
                    }
                    @else if (formControl['email'].errors?.['pattern']) {

                        
                        Invalid email. Must be a Gmail address (username&#64;gmail.com).
                    }
                    
                </div>
            }
          </div>
        </div>
      
        <div class="form-group">
          <label for="course"><b>Course Enquiry:</b></label>
          <div class="row">
            <div class="col-md-4" *ngFor="let course of courseOptions; let i = index">
              <div class="form-check pt-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [id]="'course' + i"
                  [value]="course"
                  (change)="onCourseCheckboxChange($event, i)"
                />
                <label class="form-check-label" [for]="'course' + i">{{ course }}</label>
              </div>
            </div>
          </div>
          @if (courseEnrolledIn.errors?.['required'] && submitted) {

              <div  class="invalid-feedback d-block" style="color: #dd2e2e;">
                  At least one course must be selected.
                </div>
            }
            </div>
      
        <div class="form-group">
          <label for="enqDescription"><b>Describe:</b></label>
          <textarea
            class="form-control bg-light"
            formControlName="enqDescription"
            id="describe"
            rows="3"
            placeholder="Describe"
            (blur)="onBlur('enqDescription')"
            [ngClass]="{'is-invalid': formControl['enqDescription'].invalid && formControl['enqDescription'].touched}"
          ></textarea>
          @if (formControl['enqDescription'].invalid && formControl['enqDescription'].touched || submitted) {

              <div class="invalid-feedback" style="color:#dd2e2e">
                @if (formControl['enqDescription'].errors?.['required']) {

                    Description is required
                }
                </div>
            }
        </div>
      
        <div class="row text-center mt-3">
          <div class="col-6">
            <button [disabled]="isLoading" type="submit" class="text-center btn btn-outline-primary w-75">
                @if (!isLoading) {

                    <ng-container > Submit </ng-container>
                    @if (isLoading) {

                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    }
                }
            </button>
          </div>
          <div class="col-6">
            
            <button [disabled]="isLoading" class="text-center btn btn-outline-primary w-75" [routerLink]="['/..']">
               Cancel
            </button>
         
          </div>
        </div>
      </form> 
      
  
    </div>
  </div>
  <!-- Full Width Background Image Section -->
  <div class="text-center mt-5 mb-4">
    <h2><b>OUR LOCATION</b></h2>
  </div>
  <div class="full-width-back-img">
    <div class="container w-75">
      <div class="row">
        <div class="col-md-6 contact-info">
          <div class="info-box">
            <h5><i class="fa-solid fa-location-dot contact-icon"></i> OUR MAIN OFFICE</h5>
            <p class="textcontent"><b>Linkcode Technologies Pvt. Ltd<br>Barve Memorial Complex<br>Office No. 12 Shivajinagar<br>JM Road Pune - 411005</b></p>
          </div>
        </div>
        <div class="col-md-6 contact-info">
          <div class="info-box">
            <h5><i class="fas fa-phone"></i> PHONE NUMBER</h5>
            <b>
              <p class="textcontent">+91 9604430489</p>
              <p class="textcontent">+91 70573 36919</p>
              <p class="textcontent">info&#64;linkcode.in</p>
            </b>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  