<!-- Page Content -->
<div class="p-4" id="content">
  <div class="add-user-container">
    <h2>Add New User</h2>
    <div class="user-form">
      <form [formGroup]="form" (ngSubmit)="addUser()">
        <div class="form-group">
          <label>First Name</label>
          <input
            type="text"
            formControlName="firstName"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && formControls['firstName'].errors
            }"
          />
          @if(submitted && formControls['firstName'].errors){

            <div
            class="invalid-feedback"
            >
            @if(formControls['firstName'].errors['required']){

              First Name is required
            }

          </div>
        }
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input
            type="text"
            formControlName="lastName"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && formControls['lastName'].errors
            }"
          />
          @if(submitted && formControls['lastName'].errors){

            <div
            class="invalid-feedback"
            >
            @if(formControls['lastName'].errors['required']){

              Last Name is required
            }
          </div>
        }
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && formControls['email'].errors
            }"
          />
          @if(submitted && formControls['email'].errors){

            <div
            class="invalid-feedback"
            >
            @if(formControls['email'].errors['required']){

              Email is required
            }@else if(formControls['email'].errors['email']){

              Email is invalid
            }

          </div>
        }
        </div>

        <div class="form-group">
          <label>Role</label>
          <select
            formControlName="role"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && formControls['role'].errors
            }"
          >
            <option value="">Select Role</option>
            @if(getRole() == 'SUPERADMIN'){

              <option>ADMIN</option>
            }
            <option>STUDENT</option>
            <option>INSTRUCTOR</option>
          </select>
          <div
            *ngIf="submitted && formControls['role'].errors"
            class="invalid-feedback"
          >
          @if(formControls['role'].errors['required']){

            <div>
              Role is required
            </div>
          }
          </div>
        </div>

        <div class="form-group text-center">
          <button
            [disabled]="isLoading"
            type="submit"
            class="btn btn-primary submitButton"
          >
          @if(!isLoading){

            <ng-container> Add User </ng-container>
          }
          @if(isLoading){

            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          }
          </button>
          <!-- <button type="submit" class="btn btn-primary bg-dark">Back</button> -->
        </div>
      </form>

    </div>
  </div>
</div>

  <ng-template #modalTemplate>
    <div class="modal-header">
      Share Credentials with Student
    </div>
    <div class="modal-body">
      <label>Email id :</label>
<p>{{student.response.email}}   </p>

      <label>Password : </label>
      <p>
        {{student.pass}}
      </p>
      <button class="btn btn-primary btn-sm" (click)="copyPassword(student?.pass)">{{ this.toolTip?"Copied":"Copy"}}</button>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="nextpg()">Next</button>
    </div>
  </ng-template>
