<div class="reset-container">
  <div class="reset-pass-form">
    <h3 class="main-title">Change Your Password</h3>
    <div class="container">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label for="newPassword">Password:</label>
          <div class="password-input-container">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" id="newPassword"
              class="form-control">
            <span class="password-toggle" (click)="togglePasswordVisibility()">
              <i class="fa" [ngClass]="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"></i>
            </span>
          </div>

          <div class="error-message">
            @if(issubmitted && resetPasswordForm.controls['newPassword'].hasError('required')){

              Password is required.
            }@else if (resetPasswordForm.controls['newPassword'].hasError('minlength')) {

              Password must be at least 8 characters long.
            }@else if (resetPasswordForm.controls['newPassword'].hasError('pattern')) {

              Password must contain at least 1 special character.
            }

          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label>
          <div class="password-input-container">
            <input [type]="showPasswordtwo ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword"
              class="form-control">
            <span class="password-toggle" (click)="togglePasswordVisibilitytwo()">
              <i class="fa" [ngClass]="{ 'fa-eye': !showPasswordtwo, 'fa-eye-slash': showPasswordtwo }"></i>
            </span>
          </div>
          @if(resetPasswordForm.hasError('passwordMismatch')){

            <div class="error-message">
              Passwords do not match.
            </div>
          }
        </div>
        <button [disabled]="isLoading" type="submit" class="btn submitButton">
          @if(!isLoading){

            <ng-container> Change Password</ng-container>
          }
         @if(isLoading){

           <div class="spinner-border" role="status">
             <span class="sr-only">Loading...</span>
            </div>
          }
        </button>
      </form>

    </div>
  </div>
</div>
