.reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.reset-pass-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.reset-pass-form .main-title {
  font-size: 30px;
  color: #145294;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-pass-form .container {
  width: 500px;
  /* Set a fixed width for the form container */
  max-width: 100%;
  background-color: rgba(220, 239, 251, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.reset-pass-form .form-group {
  margin-bottom: 20px;
}

.reset-pass-form label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 10px;
}

.reset-pass-form input[type="email"],
.reset-pass-form input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.reset-pass-form button[type="submit"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-pass-form button[type="submit"]:hover {
  background-color: #0c7cd6;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .reset-container {
    width: 100%;
    min-width: auto;
    padding: 10px;
  }

  .reset-pass-form .container {
    width: 100%;
    min-width: auto;
    padding: 10px;
    margin: auto;
  }

  .reset-pass-form .main-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .reset-pass-form .container {
    padding: 20px;
  }

  .reset-pass-form input[type="email"],
  .reset-pass-form input[type="password"] {
    font-size: 14px;
    padding: 8px;
  }
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa {
  font-size: 16px;
  color: #aaa;
}

.fa-eye-slash {
  color: #007bff;
}