<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand mt-2"
      ><img
        src="LC logo11.png"
        width="160"
        height="40"
        alt="logo11"
    /></a>
    <a class="nav-item nav-link active" href="#"
      >Home <span class="sr-only">(current)</span></a
    >
    <a class="nav-item nav-link" href="#">Courses</a>
    <a class="nav-item nav-link" href="#">About Us</a>
    <a class="nav-item nav-link" href="#">Enquiry</a>
    <div>
      <a class="m-3" href="#"
        ><button class="btn btn-primary rounded">Login</button></a
      >
      <a class="" href="#"
        ><button class="btn btn-primary rounded">Signup</button></a
      >
    </div>
  </nav>
  <!-- Heading Content -->
  <section id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 content-container text-center">
                <div class="content ">
                    <h2 id="heading-text-1">Access your class from</h2>
                    <h2 id="heading-text-2">Anywhere & anytime</h2>
                    <p>A solution for easy and flexible online learning, you can study anywhere and at anytime on this platform</p>
                    <hr>
                    <button class="btn btn-primary">Join for free</button>
                </div>
                <div class="features-container ">
                    <div class="feature-1 ">
                        <img src="verify-icon.png" alt="">
                        <p>Experienced Instructors</p>
                    </div>
                    <div class="feature-2 ">
                        <img src="verify-icon.png" alt="">
                        <p>Quality Videos</p>
                    </div>
                    <div class="feature-3 ">
                        <img src="verify-icon.png" alt="">
                        <p>Affordable Prices</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 img-container">
                <img class="img-fluid" src="homepage.png" alt="homepage-img not found">
            </div>
        </div>
    </div>
  </section> 
 
  <!-- Popular Courses -->
  <section class="container my-5">
      <h2 class="text-center">POPULAR COURSES</h2>
    
      <div id="coursesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#coursesCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#coursesCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#coursesCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex justify-content-center">
              <div class="course-card text-center">
                <a href="https://youtu.be/9sDBprvpE9c?t=27"><img src="c.png" class="d-block w-100" alt="Course Image"></a>
                <div class="card-body">
                  <div class="d-inline-flex">
                    <img src="allUsers.svg" class="rounded-circle" alt="Author">
                    <h5 class="card-title">Mr. Rahul Ahire</h5>
                  </div>
                  <p class="card-text">Web design and development Crash course 2023</p>
                  <p class="rating">4.8/5.0 ★★★★★</p>
                </div>
              </div>
              <div class="course-card text-center">
                <img src="c.png" class="d-block w-100" alt="Course Image">
                <div class="card-body">
                  <div class="d-inline-flex">
                    <img src="allUsers.svg" class="rounded-circle" alt="Author">
                    <h5 class="card-title">Mr. Rahul Ahire</h5>
                  </div>
                  <p class="card-text">Web design and development Crash course 2023</p>
                  <p class="rating">4.8/5.0 ★★★★★</p>
                </div>
              </div>
              <div class="course-card text-center">
                <img src="c.png" class="d-block w-100" alt="Course Image">
                <div class="card-body">
                  <div class="d-inline-flex">
                    <img src="allUsers.svg" class="rounded-circle" alt="Author">
                    <h5 class="card-title">Mr. Rahul Ahire</h5>
                  </div>
                  <p class="card-text">Web design and development Crash course 2023</p>
                  <p class="rating">4.8/5.0 ★★★★★</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Additional carousel items if needed -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#coursesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#coursesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </section>



  <!-- KeyFeatures -->
  <section id="KeyFeatures">
    <div class="box">
            <h2>Why choose Linkcode Technologies?</h2>
            <p id="feature-text">We don't just teach, We provide...</p>
        <div class="row">
            <div class="col-md-6 feature-container">
                <div class="feature">
                    <div class="img-container">
                        <img src="green-key.png" alt="">
                    </div>
                    <div class="text-container">
                        <h4>Engaging Experience</h4>
                        <p>Our approach goes beyond traditional classrooms, providing members with real-world scenarios and challenges.</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="img-container">
                        <img src="yellow-key.png" alt="">
                    </div>
                    <div class="text-container">
                        <h4>Meaningful Connections</h4>
                        <p>We promote interdisciplinary connections, allowing members to see how different subjects relate to one another and to the world around them.</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="img-container">
                        <img src="red-key.png" alt="">
                    </div>
                    <div class="text-container">
                        <h4>Problem Solvers</h4>
                        <p>At linkcode, members become problem solvers and critical thinkers. They learn to identify and analyze problems, develop creative solutions, and present their findings.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 feature-container">
                <div class="feature">
                    <div class="img-container">
                        <img src="blue-key.png" alt="">
                    </div>
                    <div class="text-container">
                        <h4>Collaboration and Communication</h4>
                        <p>We encourage collaboration and teamwork. members work together, pooling their strengths and skills, to achieve common goals.</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="img-container">
                        <img src="brown-key.png" alt="">
                    </div>
                    <div class="text-container">
                        <h4>Authentic Assessment</h4>
                        <p>It moves away from traditional tests and exams, offering authentic assessment methods.</p>
                    </div>
                </div>
                <div class="main-img-container img-fluid">
                    <img src="background-features.png" alt="">
                </div>
            </div>
            
        </div>
    </div>
  </section> 
  <!-- Skills -->
  <section id="skills">
    <h2>Skills to learn</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="Skills.png" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>
                    Learn essential skills and knowledge areas that empower aspiring software and coding engineering students. We offer a structured learning path designed to cultivate proficiency in full-stack development, web development, and related fields.
                </p>
                <button type="submit" class="btn btn-primary">Start Learning</button>
            </div>
        </div>
    </div>
  </section> 
  <!-- How it works -->
  <section id="how_works">
    <div class="container">
      <h2>How it works</h2>
      <div class="row">
        <div class="col-md-3 content">
          <img src="homepage_image5.jpg" alt="">
          <h4>Take a course</h4>
          <p>Take a course and learn at your own pace 4 hrs/ week is recommended</p>
        </div>
        <div class="col-md-3 content">
          <img src="homepage_image6.jpg" alt="">
          <h4>Practice quizzes</h4>
          <p>Practice what you learned, take our quizzes </p>
        </div>
        <div class="col-md-3 content">
          <img src="homepage_image7.jpg" alt="">
          <h4>Take assignments</h4>
          <p>Once you are confident, solve assignments and your peers will grade it</p>
        </div>
        <div class="col-md-3 content">
          <img src="homepage_image8.jpg" alt="">
          <h4>Course certificate</h4>
          <p>Level up your career with our industry-recognized certificate</p>
        </div>
      </div>
    </div>
  </section> 
  <!-- Unknown - Placements -->
  
  
  <!-- Feedback -->
  <!-- <section class="my-4 p-5">
    <div class="text-center">
      <h2>Reviews</h2>
    </div>
  
    <div class="row" style="margin-top: 5%">
      <div class="col-md-6">
        <img
          style="width: 90%; margin-left: 10%"
          src="homepage_image9.jpg"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <div class="" style="width: 80%; margin: auto; margin-top: 15%">
          <div class="text-primary text-center">"Quote"</div>
          <div class="text-center" style="max-width: 40%; margin-left: 30%">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
              mollitia ea aut consectetur quasi in eos aperiam possimus.
            </p>
            <div class="text-end">- jasmine</div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <div class="container my-5 " id="review">
    <h2 class="text-center">Reviews</h2>
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="homepage_image9.jpg" class="img-fluid" alt="Review Image">
      </div>
      <div class="col-md-6">
        <blockquote class="blockquote">
          <p class="mb-0">"QUOTE"</p>
          <footer class="blockquote-footer">
            <cite title="Source Title">...The most I have enjoyed about the distance learning is its flexibility and convenience...</cite>
          </footer>
          <p class="mt-2">- Jasmine</p>
        </blockquote>
      </div>
    </div>
  </div>
  
  <button id="scrollToTopBtn" class="btn btn-primary" (click)="scrollToTop()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V3.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 3.707V14.5A.5.5 0 0 0 8 15z"/>
    </svg>
  </button>
  
  <!-- <section id="join">
    <div class="container">
      <h2>Ready to get started with Linkcode Technologies?</h2>
      <div class="row">
        <div class="content">
          <img src="search.png" alt="">
          <p>Search for your subject of interest</p>
        </div>
        <div class="content">
          <img src="task.png" alt="">
          <p>Learn in-demand skills with our video courses</p>
        </div>
        <div class="content">
          <img src="tutor.png" alt="">
          <p>Schedule your tutoring session</p>
        </div>
        <div class="content">
          <img src="time.png" alt="">
          <p>Attend your scheduled session</p>
        </div>
        <div class="content">
          <img src="feedback.png" alt="">
          <p>Provide your feedback</p>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary">Join For Free</button>
      </div>
    </div>
  </section> -->


  


